.item-product .product-miniature {
    position: relative;
    background: #fff;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.item-product .product-miniature .img_block {
    overflow: visible;
    position: relative;
}

.item-product .product-miniature .img_block img {
    display: block;
    width: 100%;
    transition: all 300ms linear;
}

.item-product .product-miniature .img_block .second-image {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.item-product .product-miniature:hover .img_block .second-image {
    opacity: 1;
}

.item-product .product-miniature .img_block .add-to-links {
    position: absolute;
    right: 20px;
    bottom: -20px;
    line-height: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    font-size: 0;
    z-index: 2;
    margin: 0;
}



.item-product .product-miniature .img_block .add-to-links li {
    display: inline-flex;
    vertical-align: top;
    margin-bottom: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25px) translateZ(0);
    perspective: 800px;
    backface-visibility: hidden;
}

.item-product .product-miniature .img_block .add-to-links li a:hover {
    background: #15bd68;
    color: #fff;
}

.item-product .product-miniature .img_block .add-to-links li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1c1e22;
    background: #fff;
    border: none;
    height: 40px;
    width: 40px;
    box-shadow: 0 5px 13.5px 1.5px rgb(0 0 0 / 12%);
    padding: 0;
    font-size: 0;
    text-align: center;
    text-transform: capitalize;
    border-radius: 100%;
}

.item-product .product-miniature .img_block .add-to-links .cart {
    visibility: visible;
    opacity: 1;
    transform: none;
}

.item-product .product-miniature .img_block .add-to-links .cart .product-add-to-cart button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    border: none;
    height: 40px;
    width: 40px;
    box-shadow: 0 5px 13.5px 1.5px rgba(0, 0, 0, .12) !important;
    padding: 0;
    cursor: pointer;
    font-size: 0;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    border-radius: 100%;
    background: #15bd68;
}

.item-product .product-miniature .img_block .add-to-links .cart .product-add-to-cart button i,
.item-product .product-miniature .img_block .add-to-links li a i {
    font-size: 22px;
}

.item-product .product-miniature:hover .img_block .add-to-links li {
    transform: translateY(0) translateZ(0);
    opacity: 1;
    visibility: visible;
}

.item-product .product-miniature:hover .img_block .add-to-links li:nth-child(1) {
    transition-duration: 0.9s, 0.9s, 0.9s, 0.9s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
}

.item-product .product-miniature:hover .img_block .add-to-links li:nth-child(2) {
    transition-duration: 0.7s, 0.7s, 0.7s, 0.7s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
}

.item-product .product-miniature:hover .img_block .add-to-links li:nth-child(3) {
    transition-duration: 0.5s, 0.5s, 0.5s, 0.5s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
}

.item-product .product-miniature:hover .img_block .add-to-links li:nth-child(4) {
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
}

.item-product .product-miniature .img_block .product-flag {
    position: absolute;
    top: 20px !important;
    left: 20px;
    z-index: 1;
}

.item-product .product-miniature .img_block .product-flag .new {
    display: inline-block;
    color: #fff;
    background: #1c1e22;
    padding: 0 5px;
    min-width: 50px;
    line-height: 23px;
    height: 23px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px 0 5px 0;
    text-transform: uppercase;
    text-align: center;
}

.item-product .product-miniature .img_block .product-price-and-shipping-top .discount-percentage {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    color: #fff;
    background: #da2e1f;
    padding: 0 5px;
    min-width: 50px;
    text-align: center;
    line-height: 23px;
    height: 23px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px 0 5px 0;
    text-transform: uppercase;
    text-align: center;
    z-index: 4;
    font-family: "Dosis", sans-serif;
}

.item-product .product-miniature .product_desc {
    transition: all 300ms linear;
    padding: 20px;
    background: #fff;
    position: relative;
    min-height: 133.8px;
}

.item-product .product-miniature .countdown-desc {
    height: auto !important;
}

.item-product .product-miniature .product_desc .hook-reviews {
    line-height: 1;
    position: relative;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    transition: all 300ms linear;
}

.item-product .product-miniature .product_desc .hook-reviews .comments_note {
    position: relative;
}

.item-product .product-miniature .product_desc .hook-reviews .comments_note .star_content {
    display: inline-block;
    position: relative;
    line-height: 1;
}

.clearfix {
    clear: both;
}

.product-miniature::after {
    content: '';
    position: absolute;
    left: -1px;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #e5e5e5;
    pointer-events: none;
    border-bottom: none;
}

.product-miniature:hover::after {
    transition: all 300ms linear;
    border-radius: 5px;
    z-index: 4;
    border-color: #a8b2b5;
    box-shadow: 0 5px 13.5px 1.5px rgb(0 0 0 / 7%);
}

.product-miniature .product_desc .hook-reviews .comments_note .star_content .rating_star i {
    color: #F9BF00;
    font-size: 14px;
}

.product-miniature .product_desc h3 {
    font-weight: 400;
    margin: 0;
    line-height: 1;
    height: 36px;
    margin-bottom: 10px;
}

.product-miniature .product_desc .product_name {
    color: #1d1e22;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-miniature .product_desc .product-price-and-shipping {
    line-height: 20px;
    font-family: 'Dosis', sans-serif;
}

.product-miniature .product_desc .product-price-and-shipping .regular-price {
    color: #999;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 2px;
}

.product-miniature .product_desc .product-price-and-shipping .price-sale,
.product-miniature .product_desc .product-price-and-shipping .price {

    color: #da2e1f;
    font-size: 18px;
    font-weight: 600;
}

.product-miniature .product_desc .product-price-and-shipping .price {
    text-decoration: none;
}

.product-miniature .product_desc .countdown {
    margin-top: 20px;
}

.product-miniature .product_desc .countdown .title_countdown {
    font-size: 14px;
    color: #535456;
    line-height: 18px;
    margin-bottom: 20px;
}

.item-product .product-miniature .img_block .links-top {
    bottom: 50px;
    gap: 8px;
}

.item-product .row {
    padding: 30px;
    width: 100%;
    margin: 0 auto;
}

.product-miniature .product_desc .product-content {
    display: block;
    padding: 25px 0;
    margin: 0;
}

.product-miniature .product_desc .button-list {
    width: auto;
    height: auto;
    font-size: 13px;
    padding: 0 7px;
    line-height: 40px;
    height: 40px;
    border-radius: 30px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none;
    text-transform: capitalize;
    position: static;
    font-weight: 700;
    box-shadow: none;
    color: #fff;
    min-width: 200px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background: #15bd68;
    transition: all 300ms ease;

}

.product-miniature .product_desc .button-list i {
    font-size: 0px;
}

.product-miniature .product_desc .button-list:hover {
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-miniature .product_desc .button-list:hover i {
    font-size: 20px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    animation-name: zoomIn
}

.animated {
    animation-duration: 1s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInRight {
    animation-name: fadeInRight
}

.time_count_down {
    position: relative;
    /* font-size: 0; */
    line-height: 1;
    background: #da2e1f;
    border-radius: 30px;
    display: inline-flex;
    padding: 4px 25px;
    width: 100%;
}

.future_date_10_2 {
    width: 100%;
}

.countdown-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.countdown-row .countdown-section {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    position: relative;
    align-items: center;
}

/* .countdown-row .countdown-section::before {
    content: ':';
    position: absolute;
    left: 0;
    top: 10%;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding-right: 5px;
}

.countdown-row .countdown-section:first-child::before {
    content: none;
} */

.countdown-amount {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Dosis', sans-serif;
}

.countdown-period {
    font-weight: 600;
    color: #fff;
    font-family: 'Dosis', sans-serif;
}