/*Custom styles*/
body {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #606164;
}

@media(min-width: 1200px) {
  .container {
    width: 1320px;
    max-width: 100%;
  }

  .h2,
  h2 {
    font-size: 2rem;
  }
}

@media(max-width: 1199px) {
  .container {
    width: auto;
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #1c1e22;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-family: inherit;
}

.h1,
h1 {
  font-size: 1.375rem;
}

.h2,
h2 {
  font-size: 1.25rem;
}

.h3,
.h4,
h3,
h4 {
  font-size: 1.125rem;
}

b,
strong {
  font-weight: 500;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

#products .product-thumbnail,
.featured-products .product-thumbnail,
.product-accessories .product-thumbnail,
.product-miniature .product-thumbnail {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
}

#products .comments_note,
.featured-products .comments_note,
.product-accessories .comments_note,
.product-miniature .comments_note {
  color: #7a7a7a;
}

a {
  transition: all 300ms linear;
  text-decoration: none;
  color: #1c1e22;
}

.card {
  box-shadow: none;
  border: none;
  padding: 0;
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0;
}

img {
  max-width: 100%;
  margin: auto;
  height: auto;
  vertical-align: middle;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

address,
dl,
ol,
ul {
  margin-bottom: 1rem;
}

address {
  line-height: inherit;
}

table {
  border-collapse: collapse;
  background-color: transparent;
  caption-side: bottom;
}

.collapse:not(.show) {
  display: none;
}

caption,
th {
  text-align: left;
}











.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}